@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


body {
	display: flex;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

#conteudo {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    top: 10px;
	min-width: 480px;
	height: 560px;
}

h1
{
    position: relative;
}

.menos
{
    top: -4px;
}

.menos2
{
    position: relative;
    top: -50px;
}

.menos3
{
    position: relative;
    top: -70px;
}

img
{
    width: 300px;
    height: 150px;
    position: relative;
    left: 40px;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
    padding: 0 50px;
    width: 80%;
	text-align: center;
}

form > label
{
    width:100%;
    position:relative;

}

label > svg
{
    position:absolute;
    top:20px;
    padding-left: 8px;
    color: #777;
    width: 18px;
    height: 15px;
}

input {
	background-color: #ccc;
	border: none;
	padding: 12px 30px;
	margin: 7px 0;
    width: 85%;
}

button
{
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
	background-color: black;
	color: #FFF;
	font-size: 14px;
    cursor:pointer;
    outline: none;
    transition: all 0.2s;
    margin-bottom: 12px;    
}

button:active {
	transform: scale(0.95);
}

button:hover {
	background-color: #111;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

a:hover
{
    color:black;
    text-decoration: underline;
}

.erro, .ok
{
    border: 2px solid #000;
    height: 40px;
    width: 390px;
    text-align: center;
    position: absolute;
    border-radius: 2px;
    top: 522px;
    opacity: 0;
    animation-name: aparecer;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.erro
{  
    background-color: rgba(255, 0, 0, .6);
}

.texto > label
{
    position: absolute;
    left: 20%;
    top: 10px;
}

@keyframes aparecer
{
    0%{opacity:0;}
    50%{opacity:1;}
    75%{opacity:1;}
    100%{opacity:0;}
}
.ok
{  
    background-color: rgba(0, 255, 0, .6);
}